*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif; 
    background-color: white; 
    color: #333; 
}

header{
    background-color: rgba(156,218,191,0.8);
    color: black;
    text-align: left; 
    margin: 0;
}
footer{
    background-color: #05704e;
    color: white;
    text-align: center;
    padding: 1rem;
}
details li{
    font-family: "Times New Roman", Times, serif;
}
details summary{
    font-weight: bold;
    cursor: pointer;
}

nav{
    background-color: #05704e;
    color: white;
    text-align: center;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    margin-right: 1rem;
}

h1{
    height:70px;
    margin-bottom: 1px;
    font-size: 20px;
}
h2{
    margin-left: 2rem;
}
p{
    font-family: "Times New Roman", Times, serif;
    padding: 2rem;
}

section{
    
    margin: 0;
    overflow: hidden;
}
artical{
    width: 55%;
    float: left;
    margin-right: 1rem;
}
aside{
    width: 20%;
    float: right;
    padding: 10px;
    margin-top: 10rem;

    background-color: rgba(255, 255, 255, 0.7);
}
video{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.gallery img {
    width: 200px;
    height: 260px;
    align-items: center;
}
.gallery {
    float: left;
    padding: 10px;
    margin: 24px;
    border: 0px ;
    border-radius: 25px;
    overflow: hidden;
}
.gallery:hover {
    border-radius: 25px;
    border: 0px solid rgb(236, 235, 235);
    box-shadow: 10px 10px 10px rgb(179, 177, 177);
}
.desc {
    text-align: left;
    padding: 20px;
}
a:link {
    color: black;
}
a:visited {
    color: white;
}
a:hover {
    color: rgb(0, 81, 255);
}

/*Special Text Style*/
.specialtilter1{
    color: #ff9d00;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 2px red;
}

.specialtilter2{
    color: #05704e;
    font-size: 37px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.specialtilter3{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

/*Login from*/
.login-from{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #05704e;
    border-radius: 10px;
    background-color: rgba(194, 227, 212, 0.5);
}
.login-form label{
    display: block;
    margin-bottom: 5px;
}
.login-form button[type="submit"]{
    margin-top: 20px;
}
.login-form button[type="submit"]:hover{
    background-color: #a7a7a7;
}

/*Backgroung image*/
.backgroundimage1{
    background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.8)),
    url('images/backimage2.jpg') no-repeat center center fixed;
    background-size: contain;
}
.backgroundimage2{
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.8)),
    url('images/fruits.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*table*/
table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}
th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th{
    background-color: rgba(92, 180, 106, 0.7);
    color: rgb(0, 0, 0);
}

/*delete float*/
.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
}